{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>this is from layout HEELO </title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">

    </head>
    <body>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <a>this is from layout hehe </a>
        {% block body %}

        {% endblock %}
    </body>
</html>
